# python>=3.6

torch==1.1.0
numpy
scipy
h5py
matplotlib
seaborn
numba
tbb
scikit-learn
scikit-image
ipython
tqdm
pillow
colorlog
tensorboardX
torchvision==0.3.0

# Only required for running a tensorboard server:
tensorboard>=1.13
tensorflow
