# python>=3.6
# torch==0.4.0a0+7b33ef4  # Manually install from source

numpy
scipy
h5py
matplotlib
seaborn
numba
ipython
tqdm
pillow
colorlog

# For tensorboard logger (not strictly required):
tensorflow-tensorboard>=0.4.0rc3
tensorflow>=1.4.0
