# python>=3.6

torch>=1.0.0
numpy
scipy
h5py
matplotlib
seaborn
numba
tbb
scikit-learn
scikit-image
ipython
tqdm
pillow
colorlog
tensorboardX

# For hosting a tensorboard server (not strictly required):
tensorboard>=1.8.0
