name: elektronn3
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - colorlog >=3.1.4
  - h5py >=2.8.0
  - ipython >=6.4.0
  - matplotlib >=2.2.2
  - numba >=0.38.0
  - python >=3.6.5
  - scikit-image >=0.13.1
  - seaborn >=0.8.1
  - tqdm >=4.23.3
  - numpy >=1.14.2
  - scipy >=1.1.0
  - pytorch-cpu >=0.4.0
  - tensorboard >=1.8.0
  - tensorflow >=1.8.0

  # For docs:
  - sphinx =1.7.0  # In >=1.7.1 sphinx-build doesn't work.
  - sphinx_rtd_theme >=0.3.1
#  - sphinx-autodoc-typehints  # Not yet in conda-forge, install via pip:
  - pip:
    - sphinx-autodoc-typehints
