# Requirements for building the sphinx documentation.

# Small CPU-only package:
https://download.pytorch.org/whl/cpu/torch-1.2.0%2Bcpu-cp37-cp37m-manylinux1_x86_64.whl

numpy
scipy
h5py
matplotlib
seaborn
numba
scikit-learn
scikit-image
ipython
tqdm
pillow
colorlog
tensorboardX

# For building documentation:
sphinx>=2.0
sphinx_rtd_theme
sphinx-autodoc-typehints