# Requirements for building the sphinx documentation.

# Small CPU-only package, because PyPI package is ~ 500 MiB:
http://download.pytorch.org/whl/cpu/torch-0.4.0-cp36-cp36m-linux_x86_64.whl

numpy
scipy
h5py
matplotlib
seaborn
numba
scikit-learn
ipython
tqdm
pillow
colorlog

# For tensorboard logger (not strictly required):
tensorboard>=1.8.0
tensorflow>=1.8.0

# For building documentation:
sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints